.find__labs {
  width: 80vw;
  height: 100vh;
  background: #ffffff;
  border: 0.5px solid #c3c3a8;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.labs___section1 {
  width: 30vw;
  height: inherit;
  background: #FFFFFF;
  border: 0.5px solid #C3C3A8;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
}
.labs___section2 {
  width: 50vw;
  height: inherit;
}